.App {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  height: 100%;
  color: white;
  /* display: flex; */
}

.App-header {
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

main {
  min-height: 100vh;
}